html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}

.bg {
    background: url('/static/images/geometric-bg-img8-comp.jpg') no-repeat;
    border-radius: 0;
}
.nav-style {
    background-color: #272727;
}
.about {
    background-image: linear-gradient( to bottom right, #524D83, #4B96C7);
    margin-top: 25px;
    padding-top: 25px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #272727;
    padding-top: 15px;

}
h1, h2, h3 {
    font-family: 'Bitter', 'Times New Roman', Times, serif;
}
p {
    font-family: 'Roboto', Verdana, Arial, sans-serif;
}
/* Back to top button */
.back-to-top {
    position: fixed;
    display: none;
    bottom: 0;
    right: 0;
    z-index: 100;
}





/* Portfolio Section */
.portfolio {
  margin-bottom: -15px;
}
.portfolio-row {
    padding-bottom: 20px;
}

.portfolio .portfolio-item {
    position: relative;
    display: block;
    max-width: 25rem;
    margin-bottom: 15px;
    border: 1px solid black;
}

.portfolio .portfolio-item .portfolio-item-caption {
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 0;
    background-color: #797979;
}

.portfolio .portfolio-item .portfolio-item-caption:hover {
    opacity: 1;
}

.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
    font-size: 1.5rem;
}

@media (min-width: 576px) {
    .portfolio {
        margin-bottom: -30px;
  }
    .portfolio .portfolio-item {
        margin-bottom: 30px;
  }
}

.portfolio-modal .portfolio-modal-dialog {
    padding: 3rem 1rem;
    min-height: calc(100vh - 2rem);
    margin: 1rem calc(1rem - 8px);
    position: relative;
    z-index: 2;
    -webkit-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
}

.portfolio-modal .portfolio-modal-dialog .close-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.portfolio-modal .portfolio-modal-dialog .close-button i {
    line-height: 38px;
}

.portfolio-modal .portfolio-modal-dialog h2 {
    font-size: 2rem;
}

@media (min-width: 768px) {
    .portfolio-modal .portfolio-modal-dialog {
    min-height: 100vh;
    padding: 5rem;
    margin: 3rem calc(3rem - 8px);
    }
    .portfolio-modal .portfolio-modal-dialog h2 {
    font-size: 3rem;
    }
}


.code-images {
    padding-top: 40px;
}

/* Contact Page */
.contact {
    margin-top: 75px;
    padding-bottom: 30px;
}

/* Media Queries */
@media only screen and (max-width: 1200px) {
    .code-images {
        padding-top: 150px;
    }
    .py-django {
        padding-top: 75px;
    }
}

@media only screen and (max-width: 992px) {
    .code-images {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .py-django {
        padding-top: 5px;
        padding-bottom: 25px;
    }
}