{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main role="main">

        <section class="jumbotron text-center bg">
        <div class="container">
            <h1 class="jumbotron-heading heading-jumbo">Welcome to Outsider Dev Works</h1>
            <p class="lead">I am a Full Stack Web Developer. Some examples of my work can be seen below. This site is still under construction and will be added to on an ongoing basis.</p>
            <p>
            <a href="{% url 'contact' %}" class="btn btn-primary my-2">Contact Me</a>
            </p>
        </div>
        </section>

        <section class="portfolio" id="portfolio">
            <div class="container">
                <h2 class="text-center text-uppercase text-secondary mb-0">Portfolio</h2>
                <hr class="star-dark mb-5">

                <div class="row portfolio-row">

                    {% for job in jobs.all %}
                        <div class="col-md-6 col-lg-4">
                            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-{{ forloop.counter }}">
                                <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                                    <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                                        <i class="fas fa-search-plus fa-3x"></i>
                                    </div>
                                </div>
                                <img class="img-fluid" src="{{ job.image.url }}" alt="">
                            </a>
                            <h3 class="text-center text-secondary">{{ job.title }}</h3>
                        </div>
                    {% endfor %}
                </div>
                <!-- Portfolio Modal -->
                {% for job in jobs.all %}
                    <div class="portfolio-modal mfp-hide" id="portfolio-modal-{{ forloop.counter }}">
                        <div class="portfolio-modal-dialog bg-white">
                            <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
                                <i class="fa fa-3x fa-times"></i>
                            </a>
                            <div class="container text-center">
                                <div class="row">
                                    <div class="col-lg-8 mx-auto">
                                        <h2 class="text-secondary text-uppercase mb-0">{{ job.title }}</h2>
                                        <hr class="star-dark mb-5">
                                        <img class="img-fluid mb-5" src="{{ job.image.url }}" alt="Image of website">
                                        <p class="mb-5">{{ job.summary }}</p>
                                        <a target="_blank" class="btn btn-primary btn-lg rounded-pill btn-job-view" href="{{ job.web_address }}"><i class="fa fa-close"></i>Visit Website</a>
                                        <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss btn-job-view" href="#">
                                            <i class="fa fa-close"></i>Close Project</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>

        <section class="about" id="about">
            <div class="container-fluid">
                <div class="row text-center">
                    <div class="col-lg-4">
                        <img src="{% static 'images/python-django-smaller.png' %}" class="img-fluid py-django">
                    </div>
                    <div class="col-lg-4">
                        <h1>About Me</h1>
                        <p class="lead">Hi, I'm Conrad. I am a Full Stack Web Developer interested in front and backend technologies based in Dublin, Ireland. Currently I am building sites using Django/Python,
                        HTML, CSS, Bootstrap and Javascript among other tools. I am continually adding to this skill set and am open to learning new technologies for particular jobs. If you would like to
                        contact me with any enquiries please use the link above.</p>
                    </div>
                    <div class="col-lg-4">
                        <img src="{% static 'images/javascript-html-css-small.png' %}" class="img-fluid code-images">
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}